body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 650px;
}

#chat {
    background: #020617;
    border: 1px solid #334155;
    border-radius: 12px;
    height: 420px;
    overflow-y: auto;
    padding: 15px;
    margin-bottom: 10px;
}

.msg {
    margin: 10px 0;
}

.user { color: #38bdf8; }
.bot { color: #22c55e; }

.input-box {
    display: flex;
}

input {
    flex: 1;
    padding: 12px;
    background: #020617;
    border: 1px solid #334155;
    color: white;
}

button {
    padding: 12px 18px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}
